.contact {
  background-color: var(--primary-color);
  display: flex;
  margin: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-container {
  width: 50%;
}

.contact-container h2 {
  font-size: 2rem;
  font-weight: 100;
}

.contact-container p {
  color: #000000;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.contact-container-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-container textarea {
  min-height: 150px;
  resize: none;
  border: none;
}

.contact-container button {
  width: 50%;
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-container button:hover {
  background-color: var(--bg-hover-color);
}

.contact-image {
  width: 40%;
}

.contact-image img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column-reverse;
    margin: 1rem 2rem;
  }

  .contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
  }

  .contact-image {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .contact-container h2 {
    font-size: 1.5rem;
    text-align: left;
  }

  .contact-container p {
    text-align: left;
  }
}
